body {
    background-color: #FFD6DA;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    list-style-type: none;
    text-align: center;
}


a {
    
    text-decoration: none;
    color: #A548FF ;
    font-size: 9px;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    
    
}
